@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar{
    background: url(../img/top-border.jpeg) repeat-x bottom #ebc700;
    padding: 3px;
}

